<main>
  <app-lcard>
    <ng-container title>
      <h1 class="login-title">Sign In to Merra</h1>
    </ng-container>
    <ng-container content>
      <!-- Email/Password Form -->
      <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
          <div class="auth-form-group">
              <label for="email">Email address</label>
              <input type="email" id="email" name="email" placeholder="Email" formControlName="email" required>
              @if (errorMessageEmail() !== '') {
                <p id="error_message">
                  {{errorMessageEmail()}}
                </p>
              }
          </div>
          <div class="auth-form-group">
              <label for="password">Password</label>
              <input type="password" id="password" name="password" required formControlName="password" placeholder="Password">
              @if (errorMessagePassword() !== '') {
                <p id="error_message">
                  {{errorMessagePassword()}}
                </p>
              }
          </div>
          <a href="#" class="forgot-password">Forgot password?</a>
          <app-v-button label="Sign In" />
      </form>
      <div class="separator">or</div>

      <!-- Google Sign In Button -->
      <a href="#" class="google-button">
          <div class="google-icon"><mat-icon svgIcon="google-icon" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon></div>
          Sign in with Google
      </a>

      <!-- Sign Up Link -->
      <p class="signup-link">
          Don't have an account? <a routerLink="/sign-up">Sign up</a>
      </p>
    </ng-container>
  </app-lcard>
</main>
