.l-card {
  background-color: white;
  padding: 2.5rem;
  border-radius: 1.5rem;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  width: 100%;
  max-width: 28rem;
  text-align: center;
  box-sizing: border-box;
}

/* Responsive adjustments for padding */
@media (max-width: 640px) {
  .l-card {
    margin: 1rem;
    padding: 1.5rem;
  }
}
