.organization-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  background-color: aqua;
}

.user-organization {
  width: 25%;
  margin-right: 10%;
}

.organization-details {
  width: 60%;
}

.new-organization {
  float: right !important;
}
.content {
  align-items: center;
  display: inline-flex;
}

.content .content-text a {
  color: #3674B5;
  text-decoration: none;
}

.content .content-text a:hover {
  text-decoration: underline;
}

.content .content-icon {
  margin-right: 8px;
}
