<div class="admin-container">
  <div class="primary-nav-item">
    <nav class="admin-navbar">
      <div class="logo-container">
        <p class="logo">
          MERRA&nbsp;&nbsp;&nbsp;<span>Accounting Software</span>
        </p>
      </div>
      <div class="nav-links-container">
        <ul class="nav-links">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Log Out</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Preferences</a></li>
          <li><a href="#">Diagnostics</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="util-nav-item">
    <div class="section-nav">
      <div>Accounting Search</div>
      <div>fsdpfhsp</div>
    </div>
    <div class="authenticated-nav">
      <p>Logged In as <span style="font-weight: bold;">Neil</span></p>
    </div>
  </div>
  <div class="admin-content-item">
    <router-outlet />
  </div>
</div>
