<main>
  <app-lcard>
    <ng-container title>
      <h1 class="signup-title">Welcome to Merra</h1>
    </ng-container>
    <ng-container content>
      <!-- Sign Up Form -->
      <form [formGroup]="signupForm" (ngSubmit)="handleSubmit()">
        <div class="auth-form-group">
          <label for="email">Email address</label>
          <input type="email" id="email" name="email" formControlName="email" placeholder="you@example.com" required>
          @if (emailError() !== '') {
            <p id="error_message">{{emailError()}}</p>
          }
        </div>
          <div class="name-group">
            <div class="auth-form-group">
              <label for="fname">First name</label>
              <input type="text" id="fname" name="fname" formControlName="fname" placeholder="Neil" required>
              @if (firstNameError() !== '') {
                <p id="error_message">{{firstNameError()}}</p>
              }
            </div>
            <div class="auth-form-group">
              <label for="lname">Last name</label>
              <input type="text" id="lname" name="lname" formControlName="lname" placeholder="Temblor" required>
              @if (lastNameError() !== '') {
                <p id="error_message">{{lastNameError()}}</p>
              }
            </div>
          </div>
          <div class="auth-form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" formControlName="password" required>
              @if (passwordError() !== '') {
                <p id="error_message">{{passwordError()}}</p>
              }
          </div>
          <app-v-button label="Create Account" />
      </form>

      <div class="separator">or</div>

      <!-- Google Sign Up Button -->
      <a href="#" class="google-button">
        <div class="google-icon"><mat-icon svgIcon="google-icon" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon></div>
        Continue with Google
      </a>

      <!-- Sign In Link -->
      <p class="signin-link">
        Already have an account? <a routerLink="/sign-in">Sign in</a>
      </p>
    </ng-container>

  </app-lcard>
</main>
