/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --bright-blue: oklch(51.01% 0.274 263.83);
  --electric-violet: oklch(53.18% 0.28 296.97);
  --french-violet: oklch(47.66% 0.246 305.88);
  --vivid-pink: oklch(69.02% 0.277 332.77);
  --error-red: #E62727;
  --error-red-darker: #A31B1B;
  --hot-red: oklch(61.42% 0.238 15.34);
  --orange-red: oklch(63.32% 0.24 31.68);

  --charcoal-gray: #4f4a41;
  --stone-gray: #6E6658;
  --gray-900: oklch(19.37% 0.006 300.98);
  --gray-700: oklch(36.98% 0.014 302.71);
  --gray-400: oklch(70.9% 0.015 304.04);

  --color-primary: #4f46e5;
  --color-primary-hover: #4338ca;
  --color-text-dark: #1f2937;
  --color-text-light: #4b5563;
  --color-bg-light: #f9fafb;
  --color-footer-bg: #f3f4f6;

  --color-border: #e5e7eb;
  --color-google-bg: #4285f4;
  --color-google-bg-hover: #357ae8;

  --color-pale-ice: #eaeef6;

  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--color-bg-light);
}

html, body { height: 100%; }

body {
  line-height: 1;
  font-family: 'Segoe UI', Arial, sans-serif;
}

h1 {
  font-size: 3.125rem;
  color: var(--p-zinc-500);
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.125rem;
  margin: 0;
}

p {
  margin: 0;
  color: var(--p-zinc-600);
  font-size: 16px;
}

/* this is for auth .auth-form-group */
.auth-form-group {
  margin-bottom: 1.5rem;
}

.auth-form-group label {
  display: block;
  text-align: left;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: var(--color-text-dark);
}

.auth-form-group input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid var(--color-border);
  /* border-radius: 0.5rem; */
  border-radius: 0%;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  box-sizing: border-box;
}

.auth-form-group input:focus {
  outline: none;
  border-color: var(--gray-700);
}

@media screen and (max-width: 650px) {
  .content {
    flex-direction: column;
    width: max-content;
  }
}
